/* ======================================== */
/* BREADCRUMBS                             */
/* ======================================== */
.breadcrumb {
    font-size: 0.9rem;
    color: var(--color-text-light);
}

.breadcrumb ol {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
    margin: 0;
}

.breadcrumb li {
    display: flex;
    align-items: center;
}

.breadcrumb li:not(:last-child)::after {
    content: '>';
    margin-left: 8px;
    color: var(--color-light-beige);
}

.breadcrumb a {
    color: var(--color-primary);
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb li.active {
    color: var(--color-text);
    font-weight: 500;
}

.breadcrumb i {
    color: var(--color-text-light);
}